.env
.idea
.DS_Store
.phpstorm.meta.php
_ide_helper.php
git_*
Homestead.yaml
Homestead.json
node_modules
npm-debug.log
/public/css
/public/js
/resources/assets/css
/resources/assets/vendor
/tests/database.sqlite
/vendor