/vendor
/node_modules
npm-debug.log
Homestead.yaml
Homestead.json
.env
.idea
aws-credentials*
git_*
.DS_Store
.phpstorm.meta.php
_ide_helper.php
/resources/assets/css
/resources/assets/vendor
/public/css
/public/js
