/* variables*/
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.85));

$baseline: $font-size-base * 1.5;

$margin-multiplier: 2;
$margin-base: $baseline * $margin-multiplier;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

$color-gray: #98978B;
$color-text1: #444;
$color-text2: #fff;
$color-background: #f5f5f5;
$color-hr: #e9e9e9;
$color-selection: #fff7a8;
$color-link: #2f7dc8;
$color-link-hover: #000;

$brand-primary: #325D88;
$brand-success: #93C54B;
$brand-info: #29ABE0;
$brand-warning: #F47C3C;
$brand-danger: #d9534f;

/* common */
html,
body {
  width: 100%;
  color: $color-text1;
  font-size: $font-size-base;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: $baseline;
  background: $color-background;
  overflow-x: hidden;
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-hr;
  margin: 1em 0;
  padding: 0;
}

body>div.container {
  margin-top: 5rem;
}

.navbar-brand {
  padding: 10px 15px;
}

.flash-message,
.js-flash-message {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 15px;
  max-width: 450px;
  opacity: .8;
  z-index: 9999;
}

.page-header {
  margin: 20px 0 20px;
}

.footer {
  min-height: 60px;
  padding: 1rem 1rem;
  margin-top: $margin-base;
  margin-bottom: $baseline;
  border-top: 1px solid $color-hr;
  color: $color-gray;
  font-size: $font-size-small;

  a {
    color: $color-gray;

    &:hover {
      color: $color-text1;
    }
  }

  .locale li.active {
    background-color: $color-hr;
    a {
      color: $color-text1;
    }
  }
}

i.icon {
  display: inline-block;
  width: 10px;
  margin-right: 10px;
}

span.form-error {
  margin-top: 5px;
  display: block;
  font-size: .8em;
  color: $brand-danger;
  font-style: italic;
  font-weight: 100
}

.divider {
  display: block;
  margin: 1rem auto;
  width: 100%;
}