/* media queries */
@media screen and (max-width: $screen-sm-max) {
  /* MD 991px */
  .sidebar__documents,
  .sidebar__forum {
    display: none;
    overflow: hidden;
    margin-bottom: $baseline;

    li a {
      display: block;
    }

    li a:hover {
      background-color: $brand-info;
      color: $color-text2;
    }
  }

  div.sort__forum {
    display: none;
  }

  div.nav__forum,
  div.nav__documents {
    position: fixed;
    bottom: 1px;
    left: 1px;
    z-index: 9999;
    display: block;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: $screen-xs) {
  /* Phone Device */
  article {
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}